<html>
<head>
    <style><%include file="base.css"/></style>
</head>

<%!
    import markupsafe
    def br(text):
        return text.replace('\n', markupsafe.Markup('<br />'))

    def getclass(project):
        return 'secure' if project.secure else 'insecure'

    def getindex(project, data):
        return data.index(project)

    def addsection(index):
        return True if index > 0 and index%3 == 0 else False
%>

<body>
<div class="projects">
    <div class="section group">
    % for idx, project in enumerate(data):
        % if addsection(idx):
            </div>
        % endif

        <div class="project col span_1_of_3 ${getclass(project)}">
            <div class="wrapper label clearfix"><div class="element">${project.name}</div></div>
            <div class="wrapper message clearfix"><div class="element">${project.message | br}</div></div>
        </div>

     % if addsection(idx):
        <div class="section group">
        % endif
    % endfor
    </div>
</div>
</body>
</html>